@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #0f172a;
  --accent: #0070f3;
  --accentLight: #38bdf8;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--dark);
  @apply text-slate-100 antialiased overflow-x-hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.gradient-text {
  @apply bg-gradient-to-r from-accent to-accentLight bg-clip-text text-transparent;
}
